/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#wrapper{
  background-image: url("https://github.com/ironhack-labs/lab-css-recipes-clone/blob/master/apple-pie/images/apple-pie.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 1260px;
}

#wrapper > h1{
  color: white;
  font-size: 180px;
}

#recipe{
  padding: 5rem;
}

#recipe p{
  font-size: 30px;
  text-align: center;
  margin-bottom: 4rem;
}

#recipe img{
  display: block;
  margin: 0 auto;
}
hr{
  width: 100%;
  border: 2px solid grey;
}

#recipe h2{
  font-size: 40px;
  margin: 2rem 0;
}

#recipe li{
  font-size: 20px;
}

#recipe li{
  list-style-position: inside;
  margin-left: 1rem;
}

#recipe li{
  list-style-type: none;
}